body {
  margin: 0;
  padding: 0;
  overscroll-behavior-x: none;
}

canvas {
  display: block;
}

/* Fix back/forward navigation issues when drawing (https://stackoverflow.com/questions/17474930/disable-chrome-two-fingers-back-forward-swipe#50846937) */
/*body {
  overscroll-behavior-x: none;
}*/
